@import "bootstrap/scss/bootstrap";

body {
  background: url("http://www.tokkoro.com/picsup/2616044-minimalism-ultra-high-definition-wallpaper.jpg");
  h1 {
    background: #1d2b64;
    background: -webkit-linear-gradient(to bottom, #a37aa7, #1d2b64);
    background: linear-gradient(to top, #a37aa7, #1d2b64);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    font-size: 72px;
  }
  a {
    color: #1d2b64;
    &:hover {
      color: #0e1c53;
    }
  }
}
